@font-face {
    font-family: 'Goudy Stout';
    src: local('Goudy Stout'), url('fonts/goudy_stout.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Goudy Old Style';
    font-style: normal;
    font-weight: normal;
    src: local('Goudy Old Style'), url('fonts/GOUDOS.woff') format('woff');
    }


#sudoku {
    width: 60vh;
    height: 60vh;
    max-width: 90vw;
    max-height: 90vw;

    gap: 0;
    background-color: black;
}
.cell {
    background-color: white;
    height: calc(100% / 3);
    transition: background-color 0.3s, transform 0.2s, color 1s;
    font-family: sans-serif;
    color: #5e645e;
    font-weight: 600;
}

.square {
    height: calc(100% / 3)
}

.page {
    height: 92vh;
    display: flex;
    overflow: hidden;
    position: fixed;
    margin: auto;
    background-color: white;
    width: 100%;
}



#menu {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.95);
}

.invisible-text {
    color: rgba(255, 255, 255, 0);
}

.light-blue {
    background-color: rgb(198, 225, 253);
}

.blue {
    background-color: #8ec4fd;
}

.pink {
    background-color: #e454a3;
}

.zoom {
    transform: scale(1.3);
    z-index: 2;

}
.lighter-pink {
    background-color: #f59bcc;
}

#header {
    height: 8vh;
    position: fixed;
    top: 0;
    background-color: white;
}

#buttons {
    max-width: calc(250px + 30%);
}

body {
    font-family: 'Goudy Stout';
    font-weight: bold;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
    overflow: scroll;
    padding-top: 8vh;
}

label {
    font-family: "Goudy Old Style";
    font-size: x-small;
}

i::before {
    font-size: 2.3rem;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}



.custom-button {
    width: 70vw;
    height: 20vw;
    border: 2px lightgrey solid;
    font-family: "Goudy Stout";
    font-weight: lighter;
    font-size: smaller;
    color: rgb(75, 75, 75);
    margin: 1vh;
    padding: 1vh;
    max-height: 80px;
    max-width: 280px;
}

.menu-item {
    width: 80vw;
    height: 15vw;
    font-family: "Goudy Old Style";
    font-weight: bolder;
    font-size: x-large;
}

.difficulty-button {
    width: 60vw;
    height: 10vw;
    border: 2px lightgrey solid;
    font-family: "Goudy Old Style";
    font-weight: lighter;
    font-size: small;
    color: rgb(75, 75, 75);
    margin: 1vh;
    padding: 1vh;
    max-height: 50px;
    max-width: 300px;
}

.clues-number {
    width: 15%;
    overflow: hidden;
    font-family: "Goudy Old Style";
    font-size: 1.2rem;
}


.unselected {
    color: grey;
}

.secondary-text {
    font-family: "Goudy Old Style";
}

.leader-number {
    width: 1rem;
    text-align: center;
}

.user-leader-number {
    width: 4rem;
    text-align: center;
}
.user-leader-value {
    width: 4rem;
    text-align: center;
}

.leaderboard-item {
    font-size: 0.9rem;
    font-family: "Goudy Old Style";

}

#sudoku-timer {
    width: 60vh;
    max-width: 90vw;
}

.bi-x::before {
    font-size: 2.4rem;
}

.menu-child {
    z-index: 3;
    transition: none;
}

.account-child {
    z-index: 4;
}

.transition {
    transition: height 0.5s;
}

.bi-pause-circle::before {
    font-size: 1.9rem;
}

#timer {
    font-size: 1.7rem;
}

.form-switch .form-check-input {
    height: 1.4rem;
    width: 3rem;
}
@media screen and (max-height: 600px) {
    body {
        font-size: 0.6rem;
    }
    #welcome {
        font-size: 0.9rem;
    }
}

.hidden, #welcome.hidden {
    min-height: 0;
    height: 0;
}

.menu-from-main-page {
    top: 4vh;
}

.candidates-div {
    height: 100%;
    width: 100%;
}

.single-candidate-div {
    font-size: 30%;
    overflow: hidden;
    height: calc(100% / 3);
    width: calc(100% / 3);
}

.blue-icon {
    color: #5598e0;
}

#numberButtonsDiv .btn:focus {
    box-shadow: none;
}


.btn {
    transition: background-color 0.2s, opacity 0.3s;
}

.btn.disabled {
    opacity: 60%;
}

.inactive-button, .inactive-button:hover {
    background-color: rgb(138, 138, 138);
    border: none;
}

button.blue, button.blue:hover, #numberButtonsDiv button.btn.blue:active {
    background-color: #5598e0;
    border: #5598e0 1px solid;
}


.puzzle-part {
    color: rgb(0, 25, 56);
}

#userLeaderboardItem {
    font-family: "Goudy Old Style Bold";
    font-size: 1.5em;
    border-top: grey 1px solid;
}

.leaderboard-header {
    font-family: "Goudy Old Style";
    font-size: 1em;
}

.selected-button {
    border: #5598e0 2px solid;
    background-color: rgb(198, 225, 253);
}

.not-candidate {
    opacity: 80%;
}

.wrong-cell {
    background-color: rgb(252, 81, 81);
}


.hint-cell {
    background-color: orange;
}

.bi-dash-circle::before, .bi-plus-circle::before {
    font-size: 1.5em;
}


#cluePopup.hidden-popup {
    transition: transform 0.3s, bottom 0.3s, left 0.3s;
    transform: scale(0) translate(-50%,-50%);
    transition-delay: 0;
    bottom: 89vh;
}

#cluePopup {
    transition: transform 0.3s 0.01s, bottom 0.3s, left 0.3s;
    transition-timing-function: linear;
    transform-origin: bottom left;
    transform: scale(1) translate(-50%, 50%);
    bottom: 50%;
    left: 50%;
    z-index: 3;
}

#showClueButton {
    transition: color 0.3s linear 0.3s;
    z-index: 4;
}


.cant-submit {
    pointer-events: none;
    background-color: rgb(241, 241, 241);
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#spinner {
    background-color: grey;
    opacity: 0.4;
    z-index: 100;
}